<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skreet Geek</title>
</head>
<body>
    <div>
        <h1><a href="/">Skreet Geekz</a></h1>
        <p>published Jan.11.2020</p>

    </div>

    <div>
        <h2><a href="">My first Skreet Post</a></h2>
        <p>published Jan.11.2020</p>
        <p>Please Subscribe, Like, and Follow!</p>
    </div>

    <div>
        <h2><a href="">My third Skreet Post</a></h2>
        <p>This site will entertain Vlogs, Podcast, and Memes</p>
        <p>published Jan.11.2020</p>
    </div>

    <div>
        <h2><a href="">My third Skreet Post</a></h2>
        <p>This site will entertain Vlogs, Podcast, and Memes</p>
        <p>published Jan.11.2020</p>
    </div>
</body>
</html>